[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "InterpolateR"]
	path = InterpolateR
	url = https://github.com/jonnathan-landi/interpolater
[submodule "RFplus"]
	path = RFplus
	url = https://github.com/jonnathan-landi/rfplus
